@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-top {
    @apply sticky top-[-1px] z-40 py-4;
    /*backdrop-blur-2xl*/
}

.class{
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
}
.line-height-0 {
    line-height: 36px;
}
.container {
    @apply m-auto flex-1
}

*{

    font-family: 'Comfortaa', sans-serif;
}


body {
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(245, 245, 245, 0.9), rgba(255, 255, 255, 0.9)), url("/public/img/fon.png");;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*.custom-shadow {*/
/*    box-shadow: 0 4px 12px rgba(13, 35, 67, 0.2);*/
/*}*/

.overflow-x-auto::-webkit-scrollbar {
    display: none;
}

.overflow-y-auto::-webkit-scrollbar {
    display: none;
}

.input-custom {
    @apply w-full border border-gray-300 rounded-xl py-2 px-3 focus:outline-none focus:border-blue-500;
}

/*кастомная карта при оформлениии заказа*/
.ymaps-2-1-79-map .ymaps-2-1-79-i-ua_js_yes .ymaps-2-1-79-map-bg .ymaps-2-1-79-islets_map-lang-ru {
    border-radius: 100px !important;
}

.ymaps-2-1-79-copyright__content {
    display: none !important;
}

.ymaps-2-1-79-gototech {
    display: none !important;
}

.ymaps-2-1-79-listbox__button {
    display: none !important;
}

.ymaps-2-1-79-map {
    border-radius: 100px !important;
}

#mapModal {
    border-radius: 100px !important;
}

#error-message {
    transition: 0.7s all;
    opacity: 1;
}

#error-message.invisible {
    opacity: 0; /* Hidden state opacity: 0 (fully transparent) */
}
